# password set for db-shared, as defined in prod-stack/etc/db.env
MYSQL_ROOT_PASSWORD=mysql_root_password

# see https://docs.ghost.org/docs/mail-config#section-mailgun
# wou will find an updated screencast to understand exactly where to find these details
MAILGUN_LOGIN=Sandbox default SMTP Login
MAILGUN_PASSWORD=Sandbox default Password

